In [19]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [20]:
a='Data'
b='sales_train_validation.csv'
sale=pd.read_csv(os.path.join(a,b))

In [32]:
class LevelsCreater:
    def __init__(self,sales_data):
        self.sales_data = sales_data
    
    def level_11(self):
        return self.sales_data.groupby(['item_id', 'state_id'], as_index=False).sum()
        
    def level_10(self):
        return self.sales_data.groupby(['item_id'], as_index=False).sum()
        
    def level_9(self):
        return self.sales_data.groupby(['store_id', 'dept_id'], as_index=False).sum()
        
    def level_8(self):
        return self.sales_data.groupby(['store_id', 'cat_id'], as_index=False).sum()
        
    def level_7(self):
        return self.sales_data.groupby(['state_id', 'dept_id'], as_index=False).sum()
        
    def level_6(self):
        return self.sales_data.groupby(['state_id', 'cat_id'], as_index=False).sum()
        
    def level_5(self):
        return self.sales_data.groupby(['dept_id'], as_index=False).sum()
    
    def level_4(self):
        return self.sales_data.groupby(['cat_id'], as_index=False).sum()
        
    def level_3(self):
        return self.sales_data.groupby(['store_id'], as_index=False).sum()
        
    def level_2(self):
        return self.sales_data.groupby(['state_id'], as_index=False).sum()
        
    def level_1(self):
        return (pd.DataFrame(self.level_2().sum())).transpose()

In [33]:
Generatelev = LevelsCreater(sale)
level11 = Generatelev.level_11()
level10 = Generatelev.level_10()
level9 = Generatelev.level_9()
level8 = Generatelev.level_8()
level7 = Generatelev.level_7()
level6 = Generatelev.level_6()
level5 = Generatelev.level_5()
level4 = Generatelev.level_4()
level3 = Generatelev.level_3()
level2 = Generatelev.level_2()
level1 = Generatelev.level_1()

In [36]:
level11

,item_id,state_id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,FOODS_1_001,CA,6,3,2,3,7,5,8,3,...,1,2,27,6,2,2,4,2,3,5
1,FOODS_1_001,TX,0,1,2,2,0,4,0,0,...,3,1,2,1,0,0,2,0,1,0
2,FOODS_1_001,WI,0,2,0,1,0,9,2,1,...,0,1,1,0,3,1,0,0,12,1
3,FOODS_1_002,CA,3,3,4,4,3,3,0,2,...,3,5,2,0,0,2,2,1,2,1
4,FOODS_1_002,TX,0,0,2,0,0,0,0,1,...,1,1,0,0,2,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9142,HOUSEHOLD_2_515,TX,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9143,HOUSEHOLD_2_515,WI,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,1,1,0
9144,HOUSEHOLD_2_516,CA,0,2,0,1,1,1,0,2,...,3,0,0,0,0,0,1,1,0,1
9145,HOUSEHOLD_2_516,TX,2,1,0,0,0,0,1,1,...,0,1,1,0,0,1,0,0,0,0
9146,HOUSEHOLD_2_516,WI,0,1,0,2,0,1,1,1,...,1,0,0,0,0,0,1,0,0,0

list