In [4]:
import LevelsCreater as lc
import pandas as pd
import numpy as np
import os
a='Data'
b='sales_train_validation.csv'
sale=pd.read_csv(os.path.join(a,b))
sale
salen=pd.melt(sale,id_vars=['id','item_id','dept_id','cat_id','store_id','state_id'],var_name='day',value_name='demand')

In [ ]:
calendar=pd.read_csv(os.path.join('Data','calendar.csv'))
calendar

data=pd.merge(salen,calendar,how='left',left_on=['day'],right_on=['d'])

In [ ]:
sell_price=pd.read_csv(os.path.join('Data','sell_prices.csv'))
sell_price

In [ ]:
# data=calendar
data = data.merge(sell_price, on = ['store_id', 'item_id', 'wm_yr_wk'], how = 'left')
data

In [ ]:
newdata=data.loc[(data['item_id']=='FOODS_1_001') & (data['store_id'].str.match('TX'))]
newdata.groupby(['d'],sort=False).sum()
# data[data['store_id'].str.match('TX')]

In [ ]:
# level 11

# data['d_1']=data[data['day']=='d_1']['demand']
# data['d_2']=data[data['day']=='d_2']['demand']

# applying the concept of pivot
# dd=data.pivot(index=['id'], columns='day', values='demand')
# dd

df = data.groupby(['item_id', 'state_id'], as_index=False).sum()
df

In [ ]:
import LevelsCreater as lc
lc=lc.LevelsCreater()
lcdf=lc.get_level(sale,11)
print(lcdf)

import exovar
ex=exovar.exovar()
ex.salecal(lcdf,calendar,1).columns[0][-2:]

In [ ]:
lcdf['sell_price']=df['sell_price'].values
lcdf
# df['sell_price']

In [ ]:

data.groupby(['item_id','state_id'],as_index=False).sum()

In [ ]:
sale.groupby(['item_id','state_id'],as_index=False).sum()

In [5]:
levels = lc.LevelsCreater()
# level5 = levels.level_5(sale)
# level3 = levels.level_3(sale)
level6= levels.get_level(sale,6)
level6
# level6_mod=sale[[t for t in sale.columns if 'd_' in t]]
# level6_mod
# print([t for t in level6.columns if 'd_' in t])
# int(level6.columns[-1].split('_')[1])
# calendar=pd.read_csv(os.path.join(a,'calendar.csv'))

# import exovar
# ex = exovar.exovar()
# salecal=ex.salecal(level6,calendar,1)
# salecal
level6

,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
CA_FOODS,10101,9862,6944,7864,7178,8256,9005,11870,10977,8637,...,10732,13094,14855,11217,10088,9863,9479,10991,13845,14806
CA_HOBBIES,1802,1561,1472,1405,1181,1459,1314,1986,1482,1508,...,1658,2176,2330,1706,1849,1646,1590,2015,2367,2357
CA_HOUSEHOLD,2292,2382,1692,1778,1566,1607,1932,2754,2237,1677,...,3865,5294,5847,4129,3847,3639,3419,4089,5622,6024
TX_FOODS,6853,7030,5124,5470,4602,7067,4671,7055,6920,5505,...,6994,7944,8717,6834,7066,6242,6167,6839,7849,7765
TX_HOBBIES,879,870,526,809,501,831,390,785,794,524,...,1107,1124,1461,830,1025,980,882,1056,1222,1266
TX_HOUSEHOLD,1706,1730,1128,1102,809,1108,1165,1600,1662,1290,...,2699,3392,3531,2204,2831,2378,2553,2720,3195,3251
WI_FOODS,6224,5866,5106,5544,2823,6770,6814,8826,6965,4759,...,10956,10969,10925,8100,7794,7527,7671,8874,10233,10083
WI_HOBBIES,1083,926,684,455,132,930,1240,1215,623,583,...,1021,1334,1029,787,913,846,881,1014,1198,1060
WI_HOUSEHOLD,1691,1522,1107,985,354,1183,1479,1841,1076,1089,...,2757,3035,2945,2252,2157,2222,2391,2919,3431,3183

In [ ]:
# level6['d_'+str(int(level6.columns[-1].split('_')[1])+1)]
# import numpy as np
# np.zeros(5)
level6.iloc[6,-1]

In [ ]:
x=salecal[salecal.columns[0]].values[-30:].reshape(1,30,1)
e=salecal[salecal.columns[1:]].values[-30:].reshape(1,30,len(salecal.columns[1:]))
e.shape

In [ ]:
df=level3

df.index=df.index+df[df.columns[0]]
df=df.drop(df.columns[0],axis=1)
df
# df.drop(df[df.columns==0],axis=1)

In [ ]:
import pandas as pd
import os
import LevelsCreater as lc
a='Data'
b='calendar.csv'

calendar=pd.read_csv(os.path.join(a,b))
# a='Data'
# b='sales_train_validation.csv'
# sale=pd.read_csv(os.path.join(a,b))
# levels = lc.LevelsCreater()
# level6= levels.get_level(sale,6)
# print(level6)
# import exovar as ex
# ex=ex.exovar()
# # ex.calendar(calendar)
# ex.salecal(level6,calendar,node=1)
calendar

In [ ]:
f=level6.T[[level6.T.columns[0]]]
f.index.name='d'
f

In [ ]:
import LevelsCreater as lc
import pandas as pd
import os
levels = lc.LevelsCreater()
path1 = 'Data'
path2 = 'sales_train_validation.csv'
sale = pd.read_csv(os.path.join(path1, path2), delimiter=",")
level3=levels.get_level(sale,level=10)
level3
# ok=level3.T[['CA_1']]

In [ ]:
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(ok, model='additive',period=1)
result.trend

In [ ]:
import exovar
import os
import pandas as pd
import LevelsCreater as lc
from functions import series_to_supervised
path1='Data'
path2='calendar.csv'
path3='sales_train_validation.csv'
calendar=pd.read_csv(os.path.join(path1,path2))
sale=pd.read_csv(os.path.join(path1,path3))
ex=exovar.exovar()
# calendar=ex.calendar(calendar)
levels = lc.LevelsCreater()
level6 = levels.get_level(sale, 6)
salecal=ex.salecal(level6,calendar,2)

nsl_sts=series_to_supervised(salecal,5,1,dropnan=True)
print(nsl_sts)

exo_columns=[i for i in nsl_sts.columns if '(t)' in i and salecal.columns[0] not in i]
y_columsn=salecal.columns[0]+'(t)'
look_back_columns=list(set([i for i in nsl_sts.columns if salecal.columns[0] in i])-set(y_columsn))
print(exo_columns)
print(y_columsn)
print(look_back_columns)
a=nsl_sts[look_back_columns]
b=nsl_sts[exo_columns]
print(a.head())
print(b.head())
a.join(b)
print(look_back_columns.remove(y_columsn))

x,y,e=bigx[look_back_columns],bigx[y_columsn],bigx[exo_column]
print(x.shape)

In [ ]:
salecal

In [ ]:
look_back_columns

In [ ]:
from functions import series_to_supervised
import exovar
import os
import pandas as pd
import LevelsCreater as lc
from functions import series_to_supervised
path1='Data'
path2='calendar.csv'
path3='sales_train_validation.csv'
calendar=pd.read_csv(os.path.join(path1,path2))
sale=pd.read_csv(os.path.join(path1,path3))
ex=exovar.exovar()
# calendar=ex.calendar(calendar)
levels = lc.LevelsCreater()
level6 = levels.get_level(sale, 2)
salecal=ex.salecal(level6,calendar,0)
bigx=series_to_supervised(salecal,30,1,parse=False,dropnan=True)
# x,y,e=series_to_supervised(salecal,5,1,dropnan=True,parse=True)
# print(x.shape)
# print(e.shape)
# print(y.shape)
# print(salecal.shape)
# print(bigx.columns)
# salecal.columns[0]
# y_columsn = str(salecal.columns[0]) + '(t)'
# look_back_columns = list(set([i for i in bigx.columns if str(salecal.columns[0]) in i]) - set([y_columsn]))
# print(look_back_columns)
# print(y_columsn)
# exo_column = [i for i in bigx.columns if '(t)' not in i and i not in look_back_columns]
# print(exo_column)
# x,y,e=bigx[look_back_columns],bigx[y_columsn],bigx[exo_column]
# print(x.shape)
# print(e.shape)
bigx
y_columsn = str(salecal.columns[0]) + '(t)'
look_back_columns = list(set([i for i in bigx.columns if str(salecal.columns[0]) in i]) - set([y_columsn]))
print(y_columsn)
print(look_back_columns)

In [ ]:
bigx
look_back_columns = list(set([i for i in bigx.columns if str(salecal.columns[0]) in i]))
print(look_back_columns)
# salecal

In [ ]:
salecal.columns

In [ ]:
print(look_back_columns)

In [ ]:
y_columsn = str(salecal.columns[0]) + '(t)'
look_back_columns = list(set([i for i in bigx.columns if str(salecal.columns[0]) in i]) - set(y_columsn))
look_back_columns.remove(y_columsn)
exo_column = [i for i in bigx.columns if '(t)' not in i and i not in look_back_columns]
x,y,e=bigx[look_back_columns],bigx[y_columsn],bigx[exo_column]
print(x)
x = x.values.reshape(salecal.shape[0]-5 , 5, 1)
print(x.shape)

In [ ]:
salecal

In [ ]:
salecal
x=series_to_supervised(salecal,5,1,dropnan=True,parse=False)
x

In [ ]:
x.values.shape

In [ ]:
from tensorflow.keras.datasets import imdb
(x_train, y_train), (x_test, y_test) = imdb.load_data(num_words=100)

In [ ]:
print(x_train.shape)
print(y_train.shape)
import pandas as pd
pd.DataFrame(x_train)
print(len(x_train[0]))
print(len(x_train[1]))
print(len(x_train[2]))

In [ ]:
bigx=series_to_supervised(salecal,5,1)
bigx
y_columsn = salecal.columns[0] + '(t)'
look_back_columns = list(set([i for i in bigx.columns if salecal.columns[0] in i]) - set(y_columsn))
look_back_columns.remove(y_columsn)
exo_column = [i for i in bigx.columns if '(t)' not in i and i not in look_back_columns]
# \- set(list(look_back_columns))-set(list(y_columsn))
# exo_column.remove((look_back_columns))
# exo_column.remove(y_columsn)

In [ ]:
import LevelsCreater as lc
import pandas as pd
import numpy as np
import os
a='Data2'
b='sales_train_evaluation.csv'
sale=pd.read_csv(os.path.join(a,b))
calendar=pd.read_csv(os.path.join(a,'calendar.csv'))
price=pd.read_csv(os.path.join(a,'sell_prices.csv'))
import exovar
ex = exovar.exovar()

levels = lc.LevelsCreater()
level6= levels.get_level(sale,3)

salecal=ex.salecal(level6,calendar,1)
salecal
price
sale
calendar

In [ ]:
salecal

In [ ]:
price

In [ ]:
c_new=calendar.loc[calendar['wm_yr_wk'].isin(price['wm_yr_wk'].values)]
price.merge(c_new,on='wm_yr_wk')

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt


pd.read_csv('Results/selected_ts_lv10.csv',index_col=0)

In [ ]:
import pandas as pd
import numpy as np


s_prediction=pd.read_csv('Results/clusterprediction_lv12.csv',index_col=0)
s_prediction[s_prediction[s_prediction.columns[0]]==1].index
groupts={}
for i in range(100):
    groupts['cluster_'+str(i)]=s_prediction[s_prediction[s_prediction.columns[0]]==i].index.ravel()
groupts
# s_prediction[s_prediction==50].index

In [ ]:
21449 in [x for v in groupts.values() for x in v]

def get_key(val):
    for key,value in groupts.items():
        if 21449 in [x for x in value]:
            return key

    
groupts[get_key(21449)][groupts[get_key(21449)]!=21449]
groupts[get_key(21449)]

In [2]:
# import LevelsCreater as lc
#levels = lc.LevelsCreater()

# levels.get_price(11)

import exovar
ex=exovar.exovar()
a=ex.get_exog(11,9)
a

,FOODS_1_004_CA,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_LAC,snap_AXT,snap_CIW,sell_price
0,0,11101,2,1,1,2011,0,0,0,0,0,0,0,NaN
1,0,11101,3,2,1,2011,0,0,0,0,0,0,0,NaN
2,0,11101,1,3,1,2011,0,0,0,0,0,0,0,NaN
3,0,11101,5,4,2,2011,0,0,0,0,1,1,0,NaN
4,0,11101,6,5,2,2011,0,0,0,0,1,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,0,11612,6,5,4,2016,0,0,0,0,0,0,0,NaN
1909,0,11612,4,6,4,2016,0,0,0,0,0,0,0,NaN
1910,0,11612,0,7,4,2016,0,0,0,0,0,0,0,NaN
1911,0,11613,2,1,4,2016,0,0,0,0,0,0,0,NaN
1912,0,11613,3,2,4,2016,0,0,0,0,0,0,0,NaN